[flake8]
exclude =
    .git,
    __pycache__,
    *.eggs,
    build,
    dist,
    *configs/
    *train_pl_dev.py

import-order-style = pep8

# reference https://pypi.org/project/pep8-naming/
ignore =
    C812 missing trailing comma

    D100 # Missing docstring in public module
    D101 Missing docstring in public class
    D102 # Missing docstring in public method
    D103 Missing docstring in public function
    D104 # Missing docstring in public package
    D105 # Missing docstring in magic method
    D107 # Missing docstring in __init__
    D200 # One-line docstring should fit on one line with quotes
    D202 # No blank lines allowed after function docstring
    D205 # 1 blank line required between summary line and description
    D208 # Docstring is over-indented
    D210 # No whitespaces allowed surrounding docstring text
    D400 # First line should end with a period
    D401 # First line should be in imperative mood
    D403 # First word of the first line should be properly capitalized
    D413 # Missing blank line after last section

    E800 Found commented out code

    I001 isort found an import in the wrong position
    I003 isort expected 1 blank line in imports, found 0
    I004 isort found an unexpected blank line in imports
    I005 isort found an unexpected missing import
    I202 # Additional newline in a group of imports.


    Q000 Double quotes found but single quotes preferred

    VNE001 # single letter variable names like 'XXX' are not allowed

max-line-length = 120
inline-quotes = '
